@model ProductViewModel

@{
    ViewData["Title"] = "Product list";
}

<div class="form-control">
    <button type="button" asp-action="FormProduct">Add product</button>
    <button type="button" asp-action="FormOrder">Add order</button>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Count</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var order in Model.OrderList)
                    {
                        <tr>
                            <td hidden>@order.Id</td>
                            <td>@order.Name</td>
                            <td>@order.Count</td>
                            <td>@order.Price</td>
                            @if (ViewBag.IsAdmin)
                            {
                                <td>
                                    <a class="btn btn-link">Edit</a>
                                    <a class="btn btn-link">Delete</a>
                                </td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
        </div>
        <div class="col-sm-4">
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var product in Model.ProductList)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name></td>
                        @if (ViewBag.IsAdmin)
                        {
                            <td>
                                <a class="btn btn-link">Edit</a>
                                <a class="btn btn-link">Delete</a>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    
</div>
